.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: rgb(32, 31, 31)
    
 }
 body{
     background-color: black;
 }
 #tbody {
     color: white;
 }
.form-group{
    color: white;
}

.disname {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: 900;
    width: 200%;
}

.flw {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;    
    width: 200%;
}
.ply{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    
}
.pw{
    width: 200%;
}
.btn-dark{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: bold;
}

.adddel
{
    padding-top: 2%;
}

.logo{
    width: 200px;
    height:200px;
    border-radius: 100%;
}
.row{
    padding-top: 2%;
}
.pal{
    padding-top: 1%;
    color: white;
    font-size: 200%;
}
.pal:hover{
    text-decoration: underline;
    cursor: pointer;
}

.card{
    background-color: black;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 10px;
}
.card:hover{
    border-color:red;
    transform: scale(1.09);
    box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.6);
}
.card-title{
    background-color: black;
    border-color: none;
    color: white;
}

.tracklst
{
    color: white;
}
